// seccion actividades grid
.actividades-section {
    height: 250vh;
    max-width: 100%;
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    grid-template-rows: .2fr 1fr 1fr 1fr;
    margin-left: 50px;
    margin-right: 50px;
    row-gap: 120px;
    margin-bottom: 50px;
    
}

// imagenes actividades
.imagen img {
    width: 620px;
    max-width: 100%;
    max-height: auto;
    object-fit: cover;
}

// titulo principal actividades
.main-title-01 {
    grid-column: 1/11;
    grid-row: 1/2;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;

    h2 {
        @extend .main-title;
    }
}

// container 01 actividades
.actividades-container-01 {
    grid-column: 1/6;
    grid-row: 2/3;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px 50px;

    .actividades-title-01 {
        color: $color-primario;
        margin-bottom: 10px;
        font-weight: 600;
    }

    .actividades-text-01 {
        font-weight: 300;
    }
}


// imagen 01 actividades
.actividades-img-01 {
    grid-column: 6/11;
    grid-row: 2/3;
    display: flex;
}


// container 02 actividades
.actividades-container-02 {
    @extend .actividades-container-01;
    grid-column: 6/11;
    grid-row: 3/4;

    .actividades-title-02 {
        @extend .actividades-title-01;
    }

    .actividades-text-02 {
        font-weight: 300;
    }
}


// imagen 02 actividades
.actividades-img-02 {
    grid-column: 1/6;
    grid-row: 3/4;
    display: flex;
}


// container 03 actividades
.actividades-container-03 {
    @extend .actividades-container-01;
    grid-column: 1/6;
    grid-row: 4/5;

    .actividades-title-03 {
        @extend .actividades-title-01;
    }

    .actividades-text-03 {
        font-weight: 300;
    }
}


// imagen 03 actividades
.actividades-img-03 {
    grid-column: 6/11;
    grid-row: 4/5;
    display: flex;
}