/* contenedor */
.footer {
    display: grid;
    min-height: 220px;
    padding-left: 20px;
    padding-right: 20px;
    background-color: rgb(27, 27, 27);
    color: rgb(216, 219, 216);
    grid-template-columns: repeat(3, 1fr);
    grid-template-areas:
        "footer__social-media  footer__about-us    footer__contact"
        "footer__copyright     footer__copyright   footer__copyright";

}

// GRID AREAS

// social media 
.footer__social-media {
    grid-area: footer__social-media;
    display: flex;
    flex-direction: column;
    justify-content: flex-start; 
    padding-left: 70px;
    padding-top: 40px;

    .footer__social-media-icons {
        .fab {
            margin-top: 15px;
            padding-right: 10px;
        }
    }
}


// nosotros
.footer__about-us {
    grid-area: footer__about-us;
    @extend .footer__social-media;

    ul {
        li {
            list-style-type: none;
            padding-bottom: 10px;
            margin-left: -30px;

            a {
                text-decoration: none;
                color: rgb(216, 219, 216);
                font-size: .9rem;
                font-weight: 100;
            }
        }
    }
}

// contacto
.footer__contact {
    grid-area: footer__contact;
    @extend .footer__about-us;
 
    p {
        list-style-type: none;
        padding-bottom: 10px;
        color: rgb(216, 219, 216);
        font-size: .9rem;
        font-weight: 100;
        line-height: 1.3;
    }
}



// copyright
.footer__copyright {
    grid-area: footer__copyright;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding-left: 70px;

    p {
        font-size: .7rem;
        font-weight: 100;
        margin-bottom: 10px;
    }
}


// TITULOS
.footer__title {
    color: $color-secundario;
    margin-bottom: 10px;

    h5 {
        font-size: 1.4rem;
        font-weight: 400;
    }
}