// propiedades de clase main-title
.main-title{
    color: $color-primario;
    display: flex;
    justify-content: center;
    margin: 1rem 0;
    font-size: 3rem;
    font-family: $font-titulos;  
}

